body{
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
}
.btn{
    background-color: rgb(119, 240, 32);
    color: blue;
    border: 4px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;  
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 30px;
    
}
.btn:hover{
    background-color: black;
    color: #fff;
}
.contact{
    width: 40%;
    margin: 50px auto;
    background-color: rgb(174, 173, 170);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}
.contact h2{
    color: rgb(50, 11, 139);
    margin-bottom: 20px;
    background-color: rgb(234, 234, 9);
}
label{
    font-weight: bold;
    color: rgb(3, 44, 44);
}
input[type="text"],input[type="email"],
textarea{
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid;
    transition: 0.3s;
}
input[input="submit"]{
    background-color: rgb(6, 81, 81);
    color: rgb(248, 249, 251);
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    justify-content: center;
}
input[type="submit"]:hover{
    background-color: azure;
    color: rgb(19, 19, 79);
}