body{
    margin: auto;
    background-color: bisque;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.products{
    padding: 40px 20px;
    text-align: center;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    justify-content: center;
    gap: 20px;
    margin-top: 30;
    padding: 20px;
}
.products-box{
    background-color: rgb(35, 85, 104);
    color: aliceblue;
    width: 280px;
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 0 15px 20px;
    transition: 0.3s;
}
.products-box img{
    width: 100%;
    height: 150px;
}
.products-box h3{
    margin-top:0 15px;
}
.products-box:hover{
    transform: translate(-10);
}
.btn{
    display: block;
    margin: 20px;
    background-color: aqua;
    color: navy blue;
    font-weight: bold;
    border-radius: 8px;
    padding: 14px 10px;
}
.btn:hover{
    background-color: rgb(19, 19, 53);
    color: white;
}
.back-btn{
    margin: 20px;
    padding: 10px 20px;
    background-color: rgb(163, 239, 216);
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}