body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 900px;
    margin: 40px auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px ;
}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.method{
    border: 1px solid;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}
.method:hover{
    border: 1px solid blue;
}
.qr{
    text-align: center;
    display: none;
}
.qr img{
    width: 180px;
}
.card input{
    position: relative;
}
.card input img{
    position: absolute;
    right: 10px;
    top: 35px;
    width: 45px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.col{
    flex: 1;
    min-width: 300px;
}
label{
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 5px;
}
.payment-method img{
    width: 60px;
}
.btn{
    width: 100%;
    background-color: rgb(45, 125, 210);
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}
.btn:hover{
    background-color: blue;
}
@media(max-width:700px){
   .row{
    flex-direction: column;
   }
}