body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(10, 10, 49);
}
header{
    text-align: center;
    color: brown;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightskyblue; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzW06ZRxcOozFrw2fyPr3VgWcl5xNuHPhUmg&s); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 15px 40px;
}
.logo{
    font-size: 26px;
    font-weight: bold;
    color: rgb(21, 20, 67);
    background-color: aqua;
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.subnav{
    position: relative;
}
.subnavbtn{
    background-color: rgb(219, 97, 164);
    color: white;
    font-size: 18px;
    padding: 15px ;
}
.subnav-content{
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 150px;
    box-shadow: 0 5px 10px;
    border-radius: 5px;
    z-index: 1;
} 
.subnav-content a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #33065b;
    transition: 0.3s;
}
.subnav-content a:hover{
    background-color: #33065b;
    color: #fff;
}
.subnav:hover{
    display: block;
}
.subnavbtn:hover{
    color: rgb(12, 12, 12);
    cursor: pointer;
}
.search{
    text-align: center;
    display: flex;
    justify-content: right;
    background-color: rgb(250, 248, 245);
    padding: 10px;
    gap: 20px;
}
.search{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
}

.search button{
    background-color: rgb(18, 139, 30);
    color: rgb(237, 237, 244);
    border: 4px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
.search button:hover{
    background-color: black;
}
.btn{
    background-color: rgb(119, 240, 32);
    color: blue;
    border: 4px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 26px;  
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 30px;
    
}
.btn:hover{
    background-color: black;
    color: #fff;
}
.hero {
    background-image: url(https://media.istockphoto.com/id/1143148903/photo/ayurvedic-indian-medicine.jpg?s=612x612&w=0&k=20&c=f2gPW9sUDLTa9u_QcRdAGG07F51tA2GMCxV4U5aqneQ=);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 460px;
    color: rgb(7, 16, 56);
    justify-content: center;
    text-align: center;
    padding-top: 130px;
}

.hero h2 {
    font-size: 290px;
    margin-bottom: 0;
}

.hero p {
    font-size: 40px;
    margin-bottom: 20px;
}

.products {
    padding: 50px 20px;
    text-align: center;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    padding: 20px;
}

.products-box {
    background-color: aliceblue;
    width: 280px;
    padding: 20px;
    border: 2px solid;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 20px;
    transition: 0.3s;
}

.products-box img {
    width: 100%;
    height: 150px;
}

.products-box h3 {
    margin-top:0 15px;
}
.products-box p {
    font-size: 14px;
    margin-top:0 15px;
}
.products-box:hover{
    transform: translate(-10);
}
.contact{
    background-color: rgb(10, 10, 49);
    padding: 50px 20;
    text-align: center;
}
.contact form{
    background-color: bisque;
    width: 240px;
    margin: auto;
    padding: 25px;
    border: 2px solid;
}
.contact input,contact select,contact textarea{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
}
footer{
    background-color: black;
    color: aliceblue;
    padding: 18px 18px;
    justify-content: center;
}